<p id="notice"><%= notice %></p>
<div class="message-box"
  <p>
    <strong>
      <%= @friendship.user.get_name %> is now following <%= @friendship.friend.get_name %>
    </strong>
  </p>
  <%= link_to 'Back', root_path %>
</div>
