/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .main {
   background-color: #F1A9A0;
   background-position: center;
   font-family: Georgia, times, serif;
   line-height: 1.4em;
   margin: 0px;
}
#main-content {
  background-color: #67809F;
  font-size: 105%;
  padding: 10px;
  margin: 0px 310px 10px 10px;
}
#sidebar  {
  background: #BFBFBF;
  font-size: 105%;
  padding: 10px;
  margin: 25px 10px 10px 10px;
  width: 280px;
  float: right;
}

li a:link {
    color: blue;
}
li a:hover {
    color: purple;
}
li a:visited  {
  color: purple;
}


 .message-box  {
   width: 500px;
   height: 50px;
   text-align: center;
   margin: 20px 20px 20px 20px;
   border: 2px solid #000000;
   background-color: #bdc3c7;
   padding: 5em;
 }

 .wrapper  {
   width: 940px;
   margin: 20px auto 20px auto;
   border: 2px solid #000000;
   background-color: #1abc9c;
   padding: 5em;
   float: left;
   display: block
 }
