<div class="container">
  <div id="sidebar">
    <%= render partial: 'listfriends', :locals => { new_friends: @new_friends} %>
  </div>
  <%= render partial: 'info' %>
  <div id = "main-content">
    <%= render partial: 'jabber/form' %>
    <br><br>
    <%= render partial: 'jabber/jabber', :locals => { jabbers: @all_my_jabbers} %>
</div>
</div>
